fastapi==0.115.12
annotated-types==0.7.0
anyio==4.9.0
idna==3.10
pydantic==2.11.4
pydantic_core==2.33.2
sniffio==1.3.1
starlette==0.46.2
typing_extensions==4.13.2

gunicorn==23.0.0
packaging==25.0

jsonformatter==0.3.4

uvicorn==0.34.2
h11==0.16.0
click==8.2.0

pyunicore==1.3.2
fusepy==3.0.1
